      <div class="blogpostTitle">
        {{blogpost.title}}
      </div>
<div id="singlePost">
  <div>
    <div id="postTitle">
        <div>
        {{blogpost.user.username}}
        </div>
        <div>
        {{blogpost.date_posted}}
        </div>
    </div>
    <hr />
    <div id="postBody">
      {{blogpost.body}}
    </div>
  </div>
</div>
<div id="postComments">
  {{#each blogpost.comments}}
    <div id="singleComment">
      <div id="singleCommentTitle">
        <div>
          {{commented_by}}
        </div>
        <div>
            {{date_posted}}
        </div>
      </div>
      <hr />
      <div>
        {{body}}
      </div>
    </div>
    <div>
    </div>
  {{/each}}
</div>
<div id="showCommentForm">
  <p>post a comment</p>
</div>

<div id="commentForm" style="display: none">
  <form class="form newComment-form">
    <div>
      <label for="newCommentBody">Comment:</label>
      <textarea type="text" id="newCommentBody" autocomplete="off"></textarea>
    </div>
    <div>
      <input
        type="text"
        id="newComment-commented_by"
        value="{{userId}}"
        readonly
        style="display: none"
      />
      <input
        type="text"
        id="newComment-commented_on"
        value="{{blogpost.id}}"
        readonly
        style="display: none"
      />
    </div>
    <button type="submit" style="width: 25%">Submit comment</button>
  </form>
</div>

<script src="../../js/enableComment.js"></script>
<script src="../../js/newComment.js"></script>